<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="___PACKAGE_NAME___.app">

	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:name="___PACKAGE_NAME___.app.___APP_NAME_CAMEL___Application"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="AllowBackup,GoogleAppIndexingWarning">

		<activity
			android:name="___PACKAGE_NAME___.presentation.MainActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<meta-data
			android:name="com.google.android.gms.ads.APPLICATION_ID"
			android:value="ca-app-pub-6075416668238649~6363006176" />
// only-for-push-notifications: 
// only-for-push-notifications: 		<service
// only-for-push-notifications: 			android:name="___PACKAGE_NAME___.data.notification.PushNotificationService"
// only-for-push-notifications: 			android:exported="false">
// only-for-push-notifications: 			<intent-filter>
// only-for-push-notifications: 				<action android:name="com.google.firebase.MESSAGING_EVENT" />
// only-for-push-notifications: 			</intent-filter>
// only-for-push-notifications: 		</service>
// only-for-push-notifications: 
// only-for-push-notifications: 		<meta-data
// only-for-push-notifications: 			android:name="com.google.firebase.messaging.default_notification_channel_id"
// only-for-push-notifications: 			android:value="@string/default_notification_channel_id" />
	</application>

</manifest>